<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表的过滤_watch实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- 实现模糊搜索 -->
      <h1>明显列表</h1>
      <input type="text" v-model="searchKey" placeholder="请输入人名" />
      <button @click="search(searchKey,1)">恢复</button>
      <button @click="search(searchKey,2)">年龄正序</button>
      <button @click="search(searchKey,3)">年龄倒叙</button>
      <div>
        <ul>
          <li v-for="(item,index) in searchLisr" :key="item.id">
            {{item.name}} - {{item.age}}
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      Vue.config.productionTip = false;
      /*
       const vm = new Vue({
        el: "#app",
        data: {
          searchKey: "",
          list: [
            { id: "1", name: "周杰伦", age: "22", occupation: "singer" },
            {
              id: "2",
              name: "张杰",
              age: "33",
              occupation: "singer",
            },
            {
              id: "3",
              name: "毛不易",
              age: "28",
              occupation: "singer",
            },
            {
              id: "4",
              name: "薛之谦",
              age: "32",
              occupation: "singer",
            },
          ],
          searchLisr: [],
        },
        watch: {
          // 1、改进前
          // searchKey(val) {
          //   //这样写 只会使得list 数据越来越少
          //   // 当val 为 空时 list  已经不是 最初始的数据了
          //   // 需要改进方法
          //   this.list = this.list.filter((item) => {
          //     return item.name.indexOf(val) != -1;
          //   });
          // },
          // 2、改进后
          // 任何字符串都包含空字符串
          // 所以 页面初始化就监听 这个时候 因为val为空 所以 list 的所有数据 都赋值给到了 searchLisr
          //  所查找的时list  但是改变的 时 searchLisr 所以源数据 一直不变
          // filter() 方法是不改变原数组 生成新数组
          searchKey: {
            immediate: true,
            handler(val) {
              this.searchLisr = this.list.filter((item) => {
                return item.name.indexOf(val) != -1;
              });
              this.searchLisr.sort((a, b) => {
                return a.age - b.age;
              });
            },
          },
        },
      });
     */
    </script>
    <!-- 小技巧 折叠注释 -->
    <!-- 
      //#region
      //#undregion
     -->
  </body>
</html>
