<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>列表的排序过滤</title>
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- 实现模糊搜索 -->
      <h1>明显列表</h1>
      <input type="text" v-model="searchKey" placeholder="请输入人名" />
      <button @click="sortType = 2">年龄升序</button>
      <button @click="sortType = 1">年龄降序</button>
      <button @click="sortType = 0">原顺序</button>
      <div>
        <ul>
          <li v-for="(item,index) in searchLisr" :key="item.id">
            {{item.name}} - {{item.age}}
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      Vue.config.productionTip = false;

      const vm = new Vue({
        el: "#app",
        data: {
          searchKey: "",
          sortType: "",
          list: [
            { id: "1", name: "周杰伦", age: "22", occupation: "singer" },
            {
              id: "2",
              name: "张杰",
              age: "33",
              occupation: "singer",
            },
            {
              id: "3",
              name: "毛不易",
              age: "28",
              occupation: "singer",
            },
            {
              id: "4",
              name: "薛之谦",
              age: "32",
              occupation: "singer",
            },
          ],
        },
        computed: {
          searchLisr() {
            let arr = [];
            arr = this.list.filter((item) => {
              return item.name.indexOf(this.searchKey) != -1;
            });
            // 这里 可以 改变
            if (this.sortType == 2) {
              arr.sort((a, b) => a.age - b.age);
            } else if (this.sortType == 1) {
              arr.sort((a, b) => b.age - a.age);
            }
            return arr;
            // 改变
            // 改变原因  0 在 基础数据里相当于Boolean值 false  1，2为true
            // 所以为trur 就是 更改顺序 可以简写如下 利用三元运算
            if (this.sortType) {
              arr.sort((a, b) => {
                return this.sortType == 2 ? a.age - b.age : b.age - a.age;
              });
            }
            return arr;
          },
        },
      });
    </script>
  </body>
</html>
